<html>
    <head>
        <link rel="stylesheet" href="/profile.css">

        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container">
          
              <a class="navbar-brand" href="/">
                <img src="/citibank.png" alt="Logo" style="width: 200px;">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                  </li>
                  <li class = "nav-item">
                    <a class="nav-link" href="/allusers"> View Users</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="card">
            <img src="img.jpg" alt="" style="width:100%">
            <h1><%=customer.firstName%><%=customer.lastName%></h1>
            <p class="title"><%=customer.email%></p>
            <p><%=customer.currentBalance%></p>
            
            <form method="get" action="/transfer/<%=customer._id%>">
                <button type="submit">Transfer Money</button>
            </form>
            <form method="get" action="/transactions/<%=customer._id%>">
                <button type="submit">View Transactions</button>
            </form>
        
            
          </div>
        
    </body>
</html>

